.time-spinner {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0;
}

.time-spinner .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 0 2 0 6;
}

.time-spinner .increment-arrow-button,
.time-spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-padding: 2 4 2 4;
}